.header{
  display: flex;
  align-items: flex-start;
  color: rgb(2, 2, 106);
  width: 800px;
}
.header_left{
  text-align: left;
  margin-right: 300px;
}
.header_right{
  text-align: right;
}
li{
  list-style: none;
  display: inline-block;
}
.main{
  width: 800px;
  position: relative;
}
.img{
  margin: 0 0 0 auto;
  display: block;
  width: 60%;
  position: relative;
  z-index: 10;
}
.position_absolute{
  width: 600px;
  height: 200px;
  background-color: rgb(6, 6, 128);
  position: absolute;
  top: 300px;
  left: 0px;
  z-index: -10;
}
.title{
  font-size: 40px;
  position: absolute;
  top: 200px;
}